<h1>Login</h1>

<form ng-submit="login(user)" novalidate>
    <p>{{errors.login[0]}}</p>
    <p>
        <label for="email">Email:</label>
        <input type="text" id="email" ng-model="user.email" />
        <span>{{errors.email[0]}}</span>
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="user.password" />
        <span>{{errors.password[0]}}</span>
    </p>
    <p>
  <button class="btn btn-success" ng-click="">Submit</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </p>
    
</form>
