<header   ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li ng-show="!isAuthenticated()"><a href="#/login">Login</a></li>
                <li><a href="#/firms/create">Добави фирма</a></li>
                <li><a href="#/firms">Фирми</a></li>
                <li ng-show="isAuthenticated()"><a href="" ng-click="logout()">Logout</a></li>
            </ul> 
        </div>
    </nav>
</header>
