<div>
    <table  ng-table="tableParams"  show-filter="true" class="table">
        <tbody>
            <tr ng-repeat="firm in $data">
                <td data-title="'Име'">{{firm.name}}</td>
                <td data-title="'ЕИК'">{{firm.eik}}</td>
                <td data-title="'Действие'">
                    <a ng-href="#/firms/{{firm.id}}">Промени</a>
                    <a href="" ng-click="deleteFirm(firm.id)">Изтрии</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
