<h1>Firms</h1>

<form name="firmForm" ng-submit="createFirm(firm)" novalidate>
    <ul>
        <li>
            <label for="name">Име:</label>
            <input type="text" id="name" name="name" ng-model="firm.name" required />
            <span ng-show="firmForm.name.$error.required && isSubmited">Въведете име на фирмата!</span>
        </li>

        <li>
            <label for="eik">ЕИК:</label>
            <input type="text" id="eik" name="eik" ng-model="firm.eik" />
        </li>

        <li>
            <label for="dds">ДДС Номер:</label>
            <input type="text" id="dds" ng-model="firm.dds" />
        </li>

        <li>
            <label for="district">Област:</label>
            <input type="text" id="district" ng-model="firm.district" />
        </li>        

        <li>
            <label for="city">Град:</label>
            <input type="text" id="city" ng-model="firm.city" />
        </li>

        <li>
            <label for="address">Адрес:</label>
            <input type="text" id="address" ng-model="firm.address" />
        </li>

        <li>
            <label for="email">Емейл:</label>
            <input type="text" id="email" ng-model="firm.email" />
        </li>

        <li>
            <label for="phone">Телефон:</label>
            <input type="text" id="phone" ng-model="firm.phone" />
        </li>

        <li>
            <label for="osig_kasa">Осигурителна каса:</label>
            <input type="checkbox" id="osig_kasa" ng-model="firm.osig_kasa" />

        <li>
            <button class="btn btn-success" ng-click="">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </li>
    </ul>    
</form>